{% extends 'layout.html' %}
{% load static %}
{% block comment %}{% endblock %}
{% block cat %}
	{% for m in wc %}
		<li><a href="/women/"><img src="/media/{{m.image}}" class="img-responsive" alt=""/></a></li>
	{% endfor %}
{% endblock %}
{% block cate %}
	{% for m in mc %}
		<li><a href="/men/"><img src="/media/{{m.image}}" class="img-responsive" alt=""/></a></li>
	{% endfor %}
{% endblock %}


{% block content %}
<div class="breadcrumbs">
		<div class="container">
			<ol class="breadcrumb breadcrumb1 animated wow slideInLeft animated" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: slideInLeft;">
				<li><a href="/index/"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Home</a></li>
				<li class="active">Women</li>
			</ol>
		</div>
	</div>
<!--content-->
<div class="products">
	<div class="container">
		<h2>Women</h2>
		<div class="col-md-9">
			<div class="content-top1">{% for m in w %}
				<div class="col-md-4 col-md4">
					<div class="col-md1 simpleCart_shelfItem">
						<a href="/single/">
							<img class="img-responsive" src="/media/{{m.image}}"  alt="" />
						</a>
						<h3><a href="/single/">{{m.title}}</a></h3>
						<div class="price">
								<h5 class="item_price"><p> &#x20b9;</p>{{m.price}}</h5>
								<a href="#" class="item_add">Add To Cart</a>
								<div class="clearfix"> </div>
						</div>
					</div>
				</div>	{% endfor %}
			<!--<div class="col-md-4 col-md4">
					<div class="col-md1 simpleCart_shelfItem">
						<a href="/single/">
							<img class="img-responsive" src="{% static "images/pi2.png" %}"  alt="" />
						</a>
						<h3><a href="/single/">Trouser</a></h3>
						<div class="price">
								<h5 class="item_price">$300</h5>
								<a href="#" class="item_add">Add To Cart</a>
								<div class="clearfix"> </div>
						</div>
						
					</div>
				</div>	
			<div class="col-md-4 col-md4">
					<div class="col-md1 simpleCart_shelfItem">
						<a href="/single/">
							<img class="img-responsive" src="{% static "images/pi4.png" %}"  alt="" />
						</a>
						<h3><a href="/single/">Pant</a></h3>
						<div class="price">
								<h5 class="item_price">$300</h5>
								<a href="#" class="item_add">Add To Cart</a>
								<div class="clearfix"> </div>
						</div>
						
					</div>
				</div>	
			
			<div class="clearfix"> </div>
			</div>	
			<div class="content-top1">
				<div class="col-md-4 col-md4">
					<div class="col-md1 simpleCart_shelfItem">
						<a href="/single/">
							<img class="img-responsive" src="{% static "images/pi1.png" %}"  alt="" />
						</a>
						<h3><a href="/single/">Trouser</a></h3>
						<div class="price">
								<h5 class="item_price">$300</h5>
								<a href="#" class="item_add">Add To Cart</a>
								<div class="clearfix"> </div>
						</div>
					</div>
				</div>	
			<div class="col-md-4 col-md4">
					<div class="col-md1 simpleCart_shelfItem">
						<a href="/single/">
							<img class="img-responsive" src="{% static "images/pi3.png" %}"  alt="" />
						</a>
						<h3><a href="/single/">Palazoo</a></h3>
						<div class="price">
								<h5 class="item_price">$300</h5>
								<a href="#" class="item_add">Add To Cart</a>
								<div class="clearfix"> </div>
						</div>
						
					</div>
				</div>	
			<div class="col-md-4 col-md4">
					<div class="col-md1 simpleCart_shelfItem">
						<a href="/single/">
							<img class="img-responsive" src="{% static "images/pi5.png" %}"  alt="" />
						</a>
						<h3><a href="/single/">Palazoo</a></h3>
						<div class="price">
								<h5 class="item_price">$300</h5>
								<a href="#" class="item_add">Add To Cart</a>
								<div class="clearfix"> </div>
						</div>
						
					</div>
				</div>	
			
			<div class="clearfix"> </div>
			</div>	
			<div class="content-top1">
				<div class="col-md-4 col-md4">
					<div class="col-md1 simpleCart_shelfItem">
						<a href="/single/">
							<img class="img-responsive" src="{% static "images/pi6.png" %}" alt="" />
						</a>
						<h3><a href="/single/">Trouser</a></h3>
						<div class="price">
								<h5 class="item_price">$300</h5>
								<a href="#" class="item_add">Add To Cart</a>
								<div class="clearfix"> </div>
						</div>
					</div>
				</div>	
			<div class="col-md-4 col-md4">
					<div class="col-md1 simpleCart_shelfItem">
						<a href="/single/">
							<img class="img-responsive" src="{% static "images/pi7.png" %}"  alt="" />
						</a>
						<h3><a href="/single/">Jeans</a></h3>
						<div class="price">
								<h5 class="item_price">$300</h5>
								<a href="#" class="item_add">Add To Cart</a>
								<div class="clearfix"> </div>
						</div>
						
					</div>
				</div>	
			<div class="col-md-4 col-md4">
					<div class="col-md1 simpleCart_shelfItem">
						<a href="/single/">
							<img class="img-responsive" src="{% static "images/pi8.png" %}"  alt="" />
						</a>
						<h3><a href="/single/">Trouser</a></h3>
						<div class="price">
								<h5 class="item_price">$300</h5>
								<a href="#" class="item_add">Add To Cart</a>
								<div class="clearfix"> </div>
						</div>
						
					</div>
				</div>	-->
			
			<div class="clearfix"> </div>
			</div>	
		</div>
		<div class="col-md-3 product-bottom">
			<!--categories-->
				<div class=" rsidebar span_1_of_left">
						<h3 class="cate">Categories</h3>
							 <ul class="menu-drop">{% for m in cat %}
							<li class="item1"><a href="#">{{m.list}} </a>
								<ul class="cute">
									<li class="subitem1"><a href="/single/">Cute Kittens </a></li>
									<li class="subitem2"><a href="/single/">Strange Stuff </a></li>
									<li class="subitem3"><a href="/single/">Automatic Fails </a></li>
								</ul>
							</li>{% endfor %}
						<!--	<li class="item2"><a href="#">Women </a>
								<ul class="cute">
									<li class="subitem1"><a href="/single/">Cute Kittens </a></li>
									<li class="subitem2"><a href="/single/">Strange Stuff </a></li>
									<li class="subitem3"><a href="/single/">Automatic Fails </a></li>
								</ul>
							</li>
							<li class="item3"><a href="#">Kids</a>
								<ul class="cute">
									<li class="subitem1"><a href="/single/">Cute Kittens </a></li>
									<li class="subitem2"><a href="/single/">Strange Stuff </a></li>
									<li class="subitem3"><a href="/single/">Automatic Fails</a></li>
								</ul>
							</li>
							<li class="item4"><a href="#">Accessories</a>
								<ul class="cute">
									<li class="subitem1"><a href="/single/">Cute Kittens </a></li>
									<li class="subitem2"><a href="/single/">Strange Stuff </a></li>
									<li class="subitem3"><a href="/single/">Automatic Fails</a></li>
								</ul>
							</li>
									
							<li class="item4"><a href="#">Shoes</a>
								<ul class="cute">
									<li class="subitem1"><a href="/product/">Cute Kittens </a></li>
									<li class="subitem2"><a href="/product/">Strange Stuff </a></li>
									<li class="subitem3"><a href="/product/">Automatic Fails </a></li>
								</ul>
							</li>-->
						</ul>
					</div>
				<!--initiate accordion-->
						<script type="text/javascript">
							$(function() {
							    var menu_ul = $('.menu-drop > li > ul'),
							           menu_a  = $('.menu-drop > li > a');
							    menu_ul.hide();
							    menu_a.click(function(e) {
							        e.preventDefault();
							        if(!$(this).hasClass('active')) {
							            menu_a.removeClass('active');
							            menu_ul.filter(':visible').slideUp('normal');
							            $(this).addClass('active').next().stop(true,true).slideDown('normal');
							        } else {
							            $(this).removeClass('active');
							            $(this).next().stop(true,true).slideUp('normal');
							        }
							    });
							
							});
						</script>
<!--//menu-->
<!--seller-->
				<div class="product-bottom">
						<h3 class="cate">Best Sellers</h3>{% for m in best %}	
					<div class="product-go">
						<div class=" fashion-grid">
							<a href="/single/"><img class="img-responsive " src="/media/{{m.image}}"  alt=""></a>	
						</div>
						<div class=" fashion-grid1">
							<h6 class="best2"><a href="/single/" >{{m.text}}  </a></h6>
							<span class=" price-in1"> <p> &#x20b9;</p>{{m.price}}</span>
						</div>	
						<div class="clearfix"> </div>
					</div>{% endfor %}
				<!--	<div class="product-go">
						<div class=" fashion-grid">
							<a href="/single/"><img class="img-responsive " src="{% static "images/pr1.jpg" %}"  alt=""></a>	
						</div>
						<div class=" fashion-grid1">
							<h6 class="best2"><a href="/single/" >Lorem ipsum dolor sitamet consectetuer  </a></h6>
							<span class=" price-in1"> $40.00</span>
						</div>	
						<div class="clearfix"> </div>
					</div>
					<div class="product-go">
						<div class=" fashion-grid">
							<a href="/single/"><img class="img-responsive " src="{% static "images/pr2.jpg" %}"  alt=""></a>	
						</div>
						<div class=" fashion-grid1">
							<h6 class="best2"><a href="/single/" >Lorem ipsum dolor sitamet consectetuer  </a></h6>
							<span class=" price-in1"> $40.00</span>
						</div>	
						<div class="clearfix"> </div>
					</div>	
					<div class="product-go">
						<div class=" fashion-grid">
							<a href="/single/"><img class="img-responsive " src="{% static "images/pr3.jpg" %}"  alt=""></a>	
						</div>
						<div class=" fashion-grid1">
							<h6 class="best2"><a href="/single/" >Lorem ipsum dolor sitamet consectetuer  </a></h6>
							<span class=" price-in1"> $40.00</span>
						</div>	
						<div class="clearfix"> </div>
					</div>	-->	
				</div>

<!--//seller-->
<!--tag-->
				<div class="tag">	
						<h3 class="cate">Tags</h3>
					<div class="tags">
						<ul>{%  for m in tag %}
							<li><a href="#">{{m.title}}</a></li>
							<!--<li><a href="#">fashion</a></li>
							<li><a href="#">lorem</a></li>
							<li><a href="#">dress</a></li>
							<li><a href="#">fashion</a></li>
							<li><a href="#">dress</a></li>
							<li><a href="#">design</a></li>
							<li><a href="#">dress</a></li>
							<li><a href="#">design</a></li>
							<li><a href="#">fashion</a></li>
							<li><a href="#">lorem</a></li>
							<li><a href="#">dress</a></li>-->
						<div class="clearfix"> </div>{% endfor %}
						</ul>
				</div>					
			</div>
		</div>
		<div class="clearfix"> </div>
	</div>
</div>
<!--//content-->
{% endblock %}